<div class="background">
    <div class="container">
        <div class="row login-contenedor">

            <div class="col-sm-6 col-12 center">
                <img class="" src="assets/img/logoTrello.png" alt="logo">
            </div>

            <section class="col-sm-6 col-12 center-form">

                <h2>TREFIND</h2>
                <!-- <label for="fname">First name:</label><br> -->
                <input [(ngModel)]="username" type="text" id="fname" name="fname" placeholder="Username"><br>

                <button (click)="onSubmit()" type="button">ENTRAR</button>

            </section>
        </div>
    </div>
</div>